<!DOCTYPE html>
<html>

<head>


  <meta charset="utf-8" />
  <title>MARRWY INTERFACE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/roslib.min.js"></script>
  <script type="text/javascript" src="js/nipplejs.js"></script>
  <script type="text/javascript" src="js/eventemitter2.min.js"></script>
  <script type="text/javascript" src="js/keyboardteleop.min.js"></script>


  <script type="text/javascript" type="text/javascript">



var robot_IP;
var ros;


robot_IP = location.hostname;

ros = new ROSLIB.Ros({
     url: "ws://" + robot_IP + ":9090"
 });

ros.on('connection', function () {
  document.getElementById("status").innerHTML = "Connected";
});

ros.on('error', function (error) {
  document.getElementById("status").innerHTML = "Error";
});

ros.on('close', function () {
  document.getElementById("status").innerHTML = "Closed";
});
// 


var progress_bar = new ROSLIB.Topic({
      ros: ros,
      name: '/nav_status',
      messageType: 'std_msgs/String'
    });

progress_bar.subscribe(function (m) {
      //document.getElementById("msg").innerHTML = m.data;

      nav_status = document.getElementById('nav-status');
      nav_status.style = "width:" + m.data +"%";
      nav_status.innerHTML = m.data + '%';
});

var status_robot = new ROSLIB.Topic({ 
      ros: ros,
      name: '/status',
      messageType: 'std_msgs/String'
    });

status_robot.subscribe(function (m) {
      document.getElementById("msgStatus").innerHTML = m.data;
      console.log('status');
      console.log(m.data);
      if (m.data == 'ATTESA') {
          btn = document.getElementById("table-01-btn")
          btn.innerHTML = "T01";
          btn.toggleClass('none');
          btn.removeClass("btn-warning");
          btn.addClass("btn-success");
      }
      
});



 //* A topic for messaging.
 var gototableTopic = new ROSLIB.Topic({
    ros: ros,
    name : '/nro_table',
    messageType: 'std_msgs/String'
  });

function gototavolo(tavolo){

    var mymsg = new ROSLIB.Message({
        data: tavolo
    });
    console.log(' Vado al tavolo :');
    console.log(mymsg);  
    
    gototableTopic.publish(mymsg);  
}

var tableokTopic = new ROSLIB.Topic({
    ros: ros,
    name : '/ready',
    messageType: 'std_msgs/String'
});

function tavolo_ok(){

var mymsg = new ROSLIB.Message({
    data: 'OK'
});

console.log(' tavolo ok:');
  

tableokTopic.publish(mymsg);  
}
  
function setMoveToTableBtn() {
    console.log('Move To Table Initialised');
    
    // 
    
    $(".btn-table").click(function(event2){
        // Holds the product ID of the clicked element
        event2.preventDefault(); // To prevent following the link (optional)
        var tableId = this.id;
        var res = tableId.split("-");
        var table_number = res[1];
        console.log(res[1]);
        var tableinnerHTML = this.innerHTML;
        console.log("Generic Table ID===>"+tableId);
        console.log("Generic Table innerHTML===>"+tableinnerHTML);

        table_btn = document.getElementById(tableId);
        event2.preventDefault(); // To prevent following the link (optional)
        //if (table_btn.innerHTML == "T1"){
        if ($(this).hasClass( 'active' )){
            console.log('MOVING to Table='+table_number);     
            
        }else{
            table_btn.innerHTML = "VADO AL TAVOLO T"+table_number;
            $(this).toggleClass('active');
            $(table_btn).removeClass("btn-success");
            $(table_btn).addClass("btn-warning");
            gototavolo(res[1]);
            //MoveToTable(parseInt(table_number));
            
        }
        
      });

}

// Calling action
function MoveToTable(table_number){
  
    $( "#table-cancel-btn" ).click(function(event3) {
        console.log('Cancel Move Clicked');
        
            
        });
    


}

	
// Setup battery status
// Subscribing to a Topic
/*
function setStatus(nav_status) {
    console.log('Check status Started');
  
    var listener = new ROSLIB.Topic({
        ros : ros,
        name : '/nav_status',
        messageType : 'std_msgs/Float32'
    });
    
    listener.subscribe(function(message) {
    console.log('Received message on ' + listener.name + ': ' + message.data);
    nav_status.style = "width:"+message.data+"%";
    nav_status.innerHTML = message.data + '%';

    var n = parseInt(message.data);

    
    });

    console.log('SetBattery Finished');
}
*/
window.onload = function () {
  

  setMoveToTableBtn();
    
    
}
  
  
  
  </script>
 
  

 
  
<style>

div.joy {
   position: absolute;
   bottom: 10px;
  
}
.container {
  position: relative;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

img { 
  width: 100%;
  height: auto;
  opacity: 1;
}
</style>
</head>

<body>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-light" style="background-color:rgba(211,65,63,1);">
  <a class="navbar-brand" href="#">ROS Bridge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="teleMARR.html" aria-haspopup="true"  >teleMARR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="4wd.html" tabindex="-1" >4WD</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" href="4WD_offline.html" tabindex="-1" >4WD offline</a>
      </li>
	  
	  <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setting</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Call</a>
          
        </div>
      </li>
	
	  
	  <li class="nav-item">
	   <button class="btn-sm btn-outline-light my-2 my-sm-0" type="submit">Navigation</button>
      
      </li>
	   <li class="nav-item">
	     <button class="btn-sm btn-outline-warning my-2 my-sm-0" type="submit">Call</button>
       
      </li>
	    -->
    </ul>
	<p class="text-white">Connection status: <span id="status"></span></p>
	<!--
	<form class="form-inline my-2 my-lg-0">
	<div class="text-white"> Websocket server address  </div>
    
     <input type="text" v-model="ws_address" />
       <button :disabled="loading" class="btn btn-danger" @click="disconnect" v-if="connected">Disconnect!</button>
       <button :disabled="loading" class="btn btn-success" @click="connect" v-else>Connect!</button>
		
    </form>
	  -->
   
  </div>
</nav>
<!-- Eof Nav Bar -->
<div class="container fluid">
  <h2>GESTIONE TAVOLI </h2>
  <div class="row">
    <div class="col">
      <button id="tableok" onclick="tavolo_ok()" class="btn btn-outline-success btn-lg">- TABLE OK RITORNO- </button>  
   </div>
   
  
  </div>
  <h2> NAVIGAZIONE VAI AL TAVOLO </h2>
  <div class="row">
    <div class="col">
       <button type="button" class="btn btn-info btn-table" id="table-01-btn">T01</button>
       </div>
   <div class="col">
      <button type="button" class="btn btn-info btn-table" id="table-02-btn">T02</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info btn-table" id="table-03-btn">T03</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info btn-table" id="table-04-btn">T04</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-info btn-table" id="table-05-btn">T05</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" id="table-cancel-btn">CANCEL</button>
    </div>
  </div>
  <div>
   
    
  </div>

   
  <!--Battery Status-->
  <div class="container">
    <h2>Move To Table Progress</h2>
    <div class="progress">

    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:0%" id="nav-status">0%</div>
       
    </div>
</div>
 </div>
 <h3>Status <span id="msgStatus"></span></p></h3>



</body>

</html>



